<%= form_for @bike do |f| %>
<p>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
</p>
  <p>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit 'Add bike' %>
  </p>
<% end %>

<% @bikes.each do |bike| %>
<ul>
  <li>
    <%= bike.brand %>, <%= bike.color %>
  </li>
</ul>
<% end %>